html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
body {
    transition: background-color 0.5s ease; /* Change duration and easing as needed */
}

.divider {
    width: 90%;
    height: 1px;
    border-top: 1px solid white;
}

.toggleButton{
    width: 89%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.toggleButton h1{
    font-size: 2.3em;
}
.toggleTransition{
    transition: transform 0.3s ease;
}
.arrowOpened{
    transform: rotate(-90deg);
}

.arrowClosed{
    transform: rotate(90deg);
}


.cardContainer{
    display: none;
    flex-direction: column;
    width: 90vw;
    transition: max-height 0.5s ease;
    align-items: center;
}

.cardHorizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
    margin-bottom: 25px;
    margin-top: 25px;
    align-items: center;
}

.cardVertical{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5%;
    margin-bottom: 50px;
    align-items: center;
}

.cardHorizontal #text{
    text-align: left;
}

.cardHorizontal img{
    width: 35vw;
    max-height: 350px;
    height: 35vw;
    max-width: 350px;
    object-fit: cover;
    border-radius: 15px;
    align-self: center;
}

.cardVertical img{
    width: 90vw;
    object-fit: cover;
    border-radius: 15px;
    align-self: center;
}

#destNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 20px;
    min-width: 90vw;
    padding: 0;
    position: relative;
}

.navItem{
    cursor: pointer;
    flex-grow: 1;
    transition: background-color 0.3s ease;
}

#navContainer {
    position: relative;
    min-width: 90vw;
}

#selectedBoxContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#destNavBar {
    position: relative;
    z-index: 1; /* Brings it above selectedBoxContainer */
    display: flex;
    width: 70vw;
}

#destNavBar p{
    font-size: 1.5em;
}

#selectedBoxContainer{
    display: flex;
    flex-direction: row;
    left:2px
}

.selectedItem{
    transition: width 0.3s ease;
}

#selected{
    background-color: black;
    border-radius: 18px;
}

.shadowBottomLeft{
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.4);
}
.shadowBottomRight{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
}
.shadowBottomCenter{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.roundButton{
    padding: 10px;
    background-color: white;
    border-radius: 20px; /* Adjust the radius to your liking */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    align-items: center;
    margin-bottom: 50px;
    color: black;
    font-size: 20pt;
}