:root {
    --background-color:  #002238;
    --text-color: white;

    --primary-color: #00558c;
    --secondary-color: #c5e4fb;
    --accent-color: #c86a28;

    --head-font: "Playfair Display", serif;
    --head-spacing: 0.15rem;
    --second-font: "Bebas Neue", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.textLeft{
    text-align: left;
}


.textCenter{
    text-align: center;
}

@keyframes slideUp {
    0%, 5%{
        opacity: 0;
        transform: translateY(200px);
    }

    45%{
        transform: translateY(0);
        opacity: 1;

    }
}

.slideUp{
    animation: slideUp, ease;
    animation-timeline: view();
}

@keyframes slideRight {
    0%{
        transform: translateX(100vw);
    }
    25%{
        transform: translateX(0);
    }
}

.slideRight{
    animation: slideRight, ease;
    animation-timeline: view();
}
@keyframes slideLeft {
    0%{
        transform: translateX(-100vw);
    }
    25%{
        transform: translateX(0);
    }
}

.slideLeft{
    animation: slideLeft, ease;
    animation-timeline: view();
}


h1{
    font-size: 3.3rem;
}

h2{
    font-size: 2.3rem;
}
p{
    font-size: 1.2rem;
}
h1, h2{
    font-family: var(--head-font);
    color: white; 
}
h3, h3 a{
    font-family: var(--head-font);
    color: white;
}

p, a{
    font-family: var(--second-font);
    color: var(--text-color);
    line-height: 1.6;
}

.top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 20px;
    align-items: center; 
    box-sizing: border-box;
}

#logoTop {
    float: left; /* Aligns the image to the left */
    width: 80px; /* Sets the width of the image to make it small. Adjust as needed */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-right: 10px; 
    
}
.logoContainer{
    flex: 1;
    display: flex;
    align-items: center;
}

#footer{
    background-color: black;
    min-width: 100vw;
    padding-left: 15vw;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#footer h3, #footer p{
    text-align: left;
}
